.navbar .navbar-inner .nav > li.active > a {
	color: #2c5b87;
	text-shadow: 0 1px 0 #e5e5e5;
}
.navbar .divider-vertical {
	border-right: 1px solid #999;
	border-left: 1px solid #666;
}

#queue_log,
#queue_action {
	background-color: #333;
	padding: 10px;
	border: #000 1px solid;
	color: #fff;
	font-family: "Andale Mono", "Monotype.com", monospace;
	font-size: 12px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */

	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

#queue_action.Complete {
	background-color: #558655;
	-webkit-box-shadow: rgba(65, 114, 65, 0.1) 0 1px 0, rgba(65, 114, 65, 0.8) 0 1px 7px 0px inset;
	-moz-box-shadow: rgba(65, 114, 65, 0.1) 0 1px 0, rgba(65, 114, 65, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(65, 114, 65, 0.1) 0 1px 0, rgba(65, 114, 65, 0.8) 0 1px 7px 0px inset;
}
#queue_action.Invalid, #queue_action.Failed {
	background-color: #b94a48;
	-webkit-box-shadow: rgba(120, 60, 60, 0.1) 0 1px 0, rgba(120, 60, 60, 0.8) 0 1px 7px 0px inset;
	-moz-box-shadow: rgba(120, 60, 60, 0.1) 0 1px 0, rgba(120, 60, 60, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(120, 60, 60, 0.1) 0 1px 0, rgba(120, 60, 60, 0.8) 0 1px 7px 0px inset;
}
#queue_action.Running {
	background-color: #3a87ad;
	-webkit-box-shadow: rgba(38, 105, 143, 0.1) 0 1px 0, rgba(38, 105, 143, 0.8) 0 1px 7px 0px inset;
	-moz-box-shadow: rgba(38, 105, 143, 0.1) 0 1px 0, rgba(38, 105, 143, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(38, 105, 143, 0.1) 0 1px 0, rgba(38, 105, 143, 0.8) 0 1px 7px 0px inset;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(0, 0, 0, .10)),
        color-stop(.25, transparent),
        color-stop(.5, transparent),
        color-stop(.5, rgba(0, 0, 0, .10)),
        color-stop(.75, rgba(0, 0, 0, .10)),
        color-stop(.75, transparent),
        to(transparent));
    background-image:
        -moz-linear-gradient(-45deg,
            rgba(38, 105, 143, .10) 25%,
            transparent 25%,
            transparent 50%, rgba(38, 105, 143, .10) 50%,
            rgba(38, 105, 143, .10) 75%,
            transparent 75%, transparent
        );
    background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -webkit-animation: animate-stripes 2s linear infinite;
}
#queue_action.Queued {
}

.navbar-inner {
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	border-top:0px;
}

.good {
	color: green;
	font-weight :bold;
}
.bad {
	color: #b94a48;
	font-weight :bold;
}

.btn.loading {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(0, 0, 0, .10)),
        color-stop(.25, transparent),
        color-stop(.5, transparent),
        color-stop(.5, rgba(0, 0, 0, .10)),
        color-stop(.75, rgba(0, 0, 0, .10)),
        color-stop(.75, transparent),
        to(transparent));
    background-image:
        -moz-linear-gradient(-45deg,
            rgba(0, 0, 0, .10) 25%,
            transparent 25%,
            transparent 50%, rgba(0, 0, 0, .10) 50%,
            rgba(0, 0, 0, .10) 75%,
            transparent 75%, transparent
        );
    background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -webkit-animation: animate-stripes 2s linear infinite;
}

@-webkit-keyframes animate-stripes {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -50px 0;
    }
}

.extended.loading td {
	background: #fff url(../images/ajax-loader.gif) 45% 45% no-repeat;
	padding: 30px 0;
}

.extended td p.text-warning {
	margin-top: 5px;
}

.extended.loading td p.text-warning {
	display: none;
}

.project-branch > .project-branch-content {
	display: none;
}
	.project-branch.open > .project-branch-content {
		display: block;
	}
	.project-branch > h3 {
		display: block;
		cursor: pointer;
	}
	.project-branch.open > h3 .open-icon {
		display: inline-block;
	}
	.project-branch.open > h3 .closed-icon {
		display: none;
	}	
	.project-branch > h3 .open-icon {
		display: none;
	}
	.project-branch > h3 .closed-icon {
		display: inline-block;
	}

.open-icon,
.closed-icon {
	display: inline-block;
	background-color: #eee;
	width: 15px;
	height: 17px;
	border: 1px solid #ddd;
	margin-right: 11px;
	line-height: 0.5em;
	padding: 5px;
	border-radius: 5px;
	color: #000;
	position: relative;
	top: -3px;
	text-align: center;
}

/** start custom form styling **/
.field {
	margin-bottom: 15px;
}
.field label.left {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: left;
}
.field.file input {
	background-color: #eee;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.upload-form .text-center {
	text-align: center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 8px 0;
}
#Form_DeployForm select, #Form_DeployForm input[type=text] {
	width: 450px;
}

form.userswitcher label.left {
	width: auto;
	padding-top: 0;
}
form.userswitcher select {
	margin-bottom: 0;
}

/* align restore snapshot form fields left */
#Form_DataTransferRestoreForm fieldset {
	display: block;
}
#Form_DataTransferRestoreForm .field {
	display: inline-block;
}
#Form_DataTransferRestoreForm .Actions,
#Form_DataTransferRestoreForm fieldset,
#Form_DataTransferRestoreForm .middleColumn {
	float: left;
}
#Form_DataTransferRestoreForm label {
	display: inline-block;
	width: auto;
}
#Form_DataTransferRestoreForm .middleColumn {
	margin: 0 20px;
}

/** end custom form styling **/

.help {
	margin: 40px 0 80px;
}

.table-data-archives {}
	.table-data-archives .extended {
		display: none; /* Gets shown through deploynaut.js */
	}

.table th, .table td.nowrap {
	white-space: nowrap;
}

.table-bordered th,
.table-bordered td {
	border-left: 0;
}
.table-bordered {
	border-left: 1px solid #ddd;
}

.table td.action {
	width: 50px;
}

.table form,
.table form .field {
	margin-bottom: 0;
}

.release-process a {
	border-radius: 3px 10px 10px 3px;
	padding-right: 10px;
}
.release-process a.last {
	border-radius: 3px;
	padding-right: 4px;
}

.tooltip-hint {
	color: #333;
	border-bottom: 1px #333 dotted;
}

.button-nav {
	overflow: hidden;
	width: 100%;
}

.button-nav ul {
	margin-bottom: 10px;
}

.button-nav li {
	float: left;
	list-style: none;
	margin-left: 15px;
	color: #333;
}

.button-nav li.active a,
.button-nav li.active a:hover {
	color: #333;
}

.button-nav li.active a:hover,
.button-nav li.active a {
	background-color: #c5c5c5;
}