body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
			
#deploy_log,
#deploy_action {
	background-color: #333;
	padding: 5px;
	border: #000 1px solid;
	color: #fff;
	font-family: "Andale Mono", "Monotype.com", monospace;
	font-size: 12px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.good {
	color: green;
	font-weight :bold;
}