// TYPE
h1 
	font-weight: 700
	letter-spacing: -1px

h1, .h1,
h2, .h2,
h3, .h3 
	margin-bottom: ($line-height-computed);

p 
	margin-bottom: $line-height-computed

	+ pre,
	+ ol,
	+ ul
		margin-top: -$line-height-computed/2
		margin-bottom: $line-height-computed

pre,
ol,
ul
	&.nav
		margin-top: 0

	ul,
	ol
		margin-top: 0
		margin-bottom: $line-height-computed/4


// Tables

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th
	border-bottom: 1px solid $UI-border
	font-size: 14px;
	font-weight: 600;
	padding: 16px 10px 12px;
	text-transform: uppercase;

.table-large > tbody > tr > td
	padding-top: 20px
	padding-bottom: 20px


// Helpers

.font-w300
	font-weight: 300

.font-w600
	font-weight: 600

.git-sha
	font-family: $font-family-monospace
	font-size: 11px

.git-committer
	font-size: 11px

.text-sm 
	font-size: $font-size-small

.text-lg 
	font-size: $font-size-large
	font-weight: 300

.superscript
	font-size: 70%
	vertical-align: super
	margin-left: 4px
