// TYPE
h1 
	font-weight: 700
	letter-spacing: -1px

p 
	margin-bottom: $line-height-computed

pre 
	margin-top: -$line-height-computed/2
	margin-bottom: $line-height-computed



// Tables

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th
	border-bottom: 1px solid $UI-border
	font-size: 14px;
	font-weight: 600;
	padding: 16px 10px 12px;
	text-transform: uppercase;

.table-large > tbody > tr > td
	padding-top: 20px
	padding-bottom: 20px


// Helpers

.font-w300
	font-weight: 300

.font-w600
	font-weight: 600

.push
	margin-bottom: $padding-large-vertical*2

