$textarea-transition-time: 0.6s

@import "_bootstrap-variables.sass"
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss"
@import "node_modules/font-awesome/scss/font-awesome.scss"

// Select2
@import "thirdparty/select2/src/scss/core.scss"
@import "select2/theme/layout.scss"

// bootstrap-switch
@import "thirdparty/bootstrap-switch/dist/css/bootstrap2/bootstrap-switch"

// Deploynaut styles
@import "_tabs"
@import "_form.sass"
@import "_type.sass"
@import "_user-switch.sass"
@import "variables.sass"

@import "selectize/selectize"
@import "selectize/selectize.bootstrap3"

// react components
@import 'components/_current-build-status'
@import 'components/_deployment-status-bar'
@import 'components/_deploy-plan'
@import 'components/_loading-bar'
@import 'components/_logs'
@import 'components/_status-box'
@import 'components/_step-menu'
@import 'components/_target-release'

ul.list,
ol.list
	list-style: none
	padding-left: 0

	li
		background: url(../img/bg-list.png) left 1px no-repeat
		padding-left: 15px

		+ li
			margin-top: 8px

.description
	line-height: 3em
	font-style: italic
	color: #BFBFBF


// Alerts

.alert

	&.alert-error,
	&.Failed
		@extend .alert-danger

	&.alert-good,
	&.Complete
		@extend .alert-success

	&.Started,
	&.Queued,
	&.Running,
	&.Deploying
		@extend .alert-info

	&.Invalid
		@extend .alert-warning

	.fa
		margin-right: 4px

	ul
		margin: 10px 0 0 20px
		padding-bottom: 10px
		list-style: disc

	.btn
		margin-bottom: 0

.alert-special
	background-color: $platform-blue
	margin: -30px -30px 0
	padding-left: 30px
	padding-right: 30px
	color: #fff

.message.bad,
.message.required
	@extend .alert
	@extend.alert-danger
	display: block

.icon-link,
.icon-link:hover,
.icon-link:focus
	text-decoration: none

.popover
	max-width: 800px

.progress-bar
	width: 100% /* default */

	&.Failed
		@extend .progress-bar-danger

	&.Complete,
	&.Completed
		@extend .progress-bar-success

	&.Started,
	&.Queued,
	&.Running,
	&.Deploying
		@extend .progress-bar-info

	&.Invalid,
	&.Aborting
		@extend .progress-bar-warning


.list-reset
	> li
		padding: 0
		margin: 0
		list-style: none

.submenu
	> li > ul,
	> li > ol
		margin-top: 0

.page-container
	padding-left: $nav-width
	padding-bottom: 70px
	margin: 0 auto

	@media (max-width: $screen-md)
		padding-left: 0


.upload-exceed-link
	margin-bottom: 0
	margin-left: 30px

.upload-exceed-container
	position: relative
	overflow: hidden

	.upload-exceed-link
		position: absolute
		top: -1px
		right: -1px

.upload-close
	background-color: #ddd
	color: #444
	display: block
	padding: 10px 15px
	position: absolute
	top: -1px
	right: -1px
	border-radius-top-left: $border-radius-base

	&:hover
		color: #444
		background-color: #d7d7d7


.alert-full
	margin: -30px -30px 0
	padding-left: 30px
	border-radius: 0


// SIDEBAR
.sidebar
	width: $nav-width
	left: 0
	bottom: 0
	overflow-y: auto
	position: fixed
	top: 0
	color: rgba(255, 255, 255, 0.3)
	overflow-x: hidden
	z-index: 10
	transition: all 0.28s ease-out 0s
	opacity: 1

	a:active,
	a:hover,
	a:focus
		outline: 0 none

@media (max-width: $screen-md)
	.sidebar
		width: 100%
		left: -100%
		opacity: 0

	.open .sidebar
		display: block
		opacity: 1
		left: 0

.sidebar .brand
	font-size: $font-size-h3
	color: white
	display: block
	padding: 10px 0
.sidebar .brand:hover
	background-color: rgba(0, 0, 0, 0.2)

.plat-icon
	display: inline-block
	float: left
	height: 22px
	width: 22px
	margin-right: 9px
	margin-top: -1px
.plat-icon-long
	height: 22px
	width: 61px

.icon-stack
	background: url(../img/icon-stack.svg) no-repeat
.icon-stack-active
	background: url(../img/icon-stack-active.svg) no-repeat
.icon-documentation
	background: url(../img/icon-documentation.svg) no-repeat
.icon-helpdesk
	background: url(../img/icon-helpdesk.svg) no-repeat

nav.sidebar .version-number
	font-size: 8px
	position: fixed
	z-index: -1000
	transform-origin: left top 0px
	transform: rotate(270deg)
	bottom: 0px
	left: 5px
	color: #777

nav.sidebar .label
	background: #f0ad4e
	text-transform: uppercase
	padding: 2px 4px
	margin: 0px 5px
	font-weight: normal
	position: absolute
	right: 30px
	top: 12px
	display: block

nav.sidebar .project-name
	width: 120px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	display: inline-block

.side-content
	padding: 0 20px 1px

	ul.nav ul
		background-color: rgba(0, 0, 0, 0.15)
		padding: 0
		margin: 0
		overflow: hidden
		font-size: 13px

		ul
			padding-left: 12px
			overflow: hidden

			li
				position: relative

				a
					padding-left: 0

		a
			padding-left: 0

			&:hover
				color: #fff
				background-color: transparent
				text-decoration: none
				opacity: 1

		li.active a
			color: #fff

		li a.active
			color: #fff

	li > a
		&:hover,
		&:focus
			color: #fff
			text-decoration: none

.nav-submenu
	position: relative

	.open > &
		color: #fff

		.icon-arrow
			-ms-transform: rotate(180deg) /* IE 9 */
			-webkit-transform: rotate(180deg) /* Chrome, Safari, Opera */
			transform: rotate(180deg)

.btn-security
	margin-bottom: 0

.btn-pagination
	margin-bottom: 0
	padding-left: 0
	border: none
	background-color: transparent
	font-weight: bold
	font-size: 18px

	.plat-icon
		margin-right: 5px
		margin-top: 2px


	.open &
		&:active, &:focus, &:hover
			box-shadow: none

.stack-pagination
	padding: 15px 0
	width: 200px

	> li > a
		padding-left: 15px

	li.virtual-s a
		background: url(../img/stack-levels.png) no-repeat 20px 2px
		padding-left: 43px

.btn-group.open .btn-pagination,
.btn-group .btn-pagination:active
	box-shadow: none

.page-header .btn-group + .page-heading
	margin-top: 0

.icon-arrow
	width: 16px
	height: 16px
	display: block
	position: absolute
	right: 15px
	top: 12px
	background: transparent url(../img/icon-arrow.svg) no-repeat

	ul.nav ul
		background-color: rgba(0, 0, 0, 0.15)
		padding: 0
		margin: 0
		overflow: hidden

		a
			opacity: .8
			padding-left: 54px

			&:hover
				color: #fff
				background-color: transparent
				text-decoration: none
				opacity: 1

		li.active a
			color: #fff

	li > a
		&:hover,
		&:focus
			color: #fff
			text-decoration: none

.project-name
	.icons
		float: left
		margin-right: 3px

.icon-star
	@extend .fa
	@extend .fa-star
	color: $gold

	&:hover
		@extend .fa-star-o
		// better contrast for the "outlined" state
		color: darken($gold, 20%)

	&.hollow
		@extend .fa-star-o
		// better contrast for the "outlined" state
		color: darken($gold, 20%)

		&:hover
			@extend .fa-star
			color: $gold

// SIDEBAR-MENU

.collapsing
	transition-duration: 0s !important

.side-content .nav
	margin: 0 -20px
	padding: 0

	.collapse,
	.collapse.in
		display: block

	ul
		height: 0
		list-style: none

		> li
			opacity: 0
			transform: translateX(-15px)
			transition: all 0.25s ease-out 0s

	li
		&.open
			> ul
				height: auto

				> li
					opacity: 1
					transform: translateX(0px)

			> a
				background-color: transparent
				color: #fff


		.nav-submenu
			max-height: 40px

		a:focus
			background-color: transparent

	> li
		a
			color: $navbar-inverse-link-color
			padding: 10px 35px 10px 20px
			display: block
			transition: color 0.12s ease-out 0s

			&:hover
				color: $navbar-inverse-link-color
				background-color: rgba(0, 0, 0, 0.2)

			&.nav-add-stack
				float: right
				background: $gray-darker
				color: $navbar-inverse-link-color
				vertical-align: middle
				padding: 3px 6px

				&:hover, &:focus
					background: $platform-blue
					color: #fff

		&.nav-main-heading
			font-size: 12px
			font-weight: 400
			padding: 22px 13px 6px 20px
			text-transform: uppercase

		> ul
			padding-left: 50px




// MAIN
// Header bar
.header-navbar
	min-height: 58px
	background-color: #fff
	min-width: 320px
	left: 230px

	// needed when the top bar is used more
	// position: fixed
	// right: 0
	// top: 0
	// z-index: 1030
	// box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02)

	.nav a
		padding: 18px 16px 21px

		.title
			@media (max-width: $screen-sm)
				display: none !important

		i
			margin-right: 5px
			font-size: 16px

			@media (max-width: $screen-sm)
				margin-right: 0
				font-size: 18px
				line-height: 24px

	.nav li.pull-right:first-child a
		margin-right: $grid-gutter-width/2

	.nav li.active a
		color: $gray-darker

	.nav-header
		margin-left: 30px

	.badge-base
		position: relative

		.badge
			position: absolute
			top: -1.2em
			right: -1.6em
			padding: 2px 7px
			color: white
			background: $platform-secondary
			font-weight: normal

button.sidebar-open
	margin-top: 12px


.main-container
	// margin-top: 60px (needed when the top bar is used more)

	.page-header
		background-color: #f0f3f4
		margin: 0
		border-bottom: 1px solid $UI-border
		padding-bottom: 0
		padding-top: 20px

	.btn-group
		width: 100%

	.page-title
		display: inline-block
		vertical-align: middle
		margin: 0

	.breadcrumb
		padding-left: 0
		padding-right: 0
		margin-bottom: -28px
		font-size: 16px
		font-weight: bold
		color: $breadcrumb-color

	.page-heading
		margin-bottom: 20px

	.labels
		display: inline-block
		margin-left: 5px
		vertical-align: middle

		.label
			font-weight: normal
			padding: 4px 6px
			margin-right: 10px

			.fa
				margin-right: 2px

	.environment-url
		display: block
		margin-bottom: 20px

	.nav.nav-tabs
		border-bottom: none

		> li >
			a,
			a:hover,
			a:focus
				border-color: transparent
				padding-left: 0
				padding-right: 0
				margin-right: 20px
				background-color: transparent

		> li.active > a
			border: none
			border-bottom: 3px solid $platform-blue
			background-color: transparent

			&:hover, &:focus
				color: $gray-darker
				border-bottom-color: $link-hover-color

		> li:last-child a
			margin-right: 0


.content
	margin: 0 auto
	padding: 30px 30px 1px

	&.content-vert
		padding-top: 0
		padding-bottom: 0

// Tables

.table > thead > tr > th, .table > tfoot > tr > th
	border-bottom: 1px solid $UI-border
	border-top: 1px solid $UI-border
	font-size: 12px
	font-weight: 600
	padding: 16px 10px 12px
	text-transform: uppercase

.table > tbody > tr > th
	padding: 12px 10px

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th
	border-bottom: 1px solid $UI-border
	border-top: 1px solid $UI-border

.table-large > tbody > tr > td,
.table-large > tbody > tr > th
	padding-top: 20px
	padding-bottom: 20px

.table-clickable > tbody > tr
	.bypassed
		font-style: italic
		color: $text-muted
	&.status-Current td
		background: $platform-blue-light
	&:hover
		cursor: pointer

.table-centered-columns > tbody > tr > td
	vertical-align: middle

.deploy-status
	&:before
		content: "\2022"
		font-size: 37px
		line-height: 0
		position: relative
		top: 4px
.deploy-status-text
	padding: 2px 0 0 15px
	display: inline-block
	font-style: italic
.status-Aborting
	.deploy-status
		color: $status-aborting
.status-Submitted
	.deploy-status
		color: darken($status-submitted, 10%)
	.deploy-approver
		font-style: italic
		color: darken($status-submitted, 10%)
.status-Approved
	.deploy-status
		color: $status-approved
.status-Deploying,
.status-Current
	.deploy-status
		color: $status-deploying
.status-Failed
	.deploy-status
		color: $status-failed
.status-Invalid
	.deploy-status
		color: $status-invalid
.status-Rejected
	.deploy-status
		color: $status-rejected
	.deploy-approver
		font-style: italic
		color: $status-rejected

// Environment
.deploy-dropdown
	@extend .btn
	@extend .btn-primary
	@extend .btn-block
	@extend .btn-lg
	border-radius: $border-radius-base
	text-align: left
	font-size: 26px
	line-height: 40px
	margin-bottom: 0

	@media (max-width: $screen-md)
		font-size: 20px

	.status-icon
		@extend .fa
		@extend .fa-refresh
		@extend .pull-right
		line-height: 36px
		font-size: 26px

	.time
		@extend .pull-right
		font-size: 14px
		line-height: 36px

	.loading-text
		display: none

	&.open
		border-bottom-left-radius: 0
		border-bottom-right-radius: 0

		.status-icon
			@extend .fa-refresh

	&.loading
		.loading-text
			@extend .pull-right
			display: inherit
			font-size: 20px
			font-weight: 300

			@media (max-width: $screen-md)
				display: none
		.time
			display: none

		.status-icon
			@extend .fa-refresh
			@extend .fa-spin
			font-size: 26px
			margin-left: 10px
	&.error
		@extend .alert
		@extend .alert-danger

.deploy-dropdown-errors
	@extend .alert
	@extend .alert-danger
	white-space: pre

.deploy-form-loading
	@extend .deploy-form-outer
	display: table
	width: 100%

	> .icon-holder
		display: table-cell
		color: $platform-blue
		vertical-align: middle
		text-align: center
		height: 15em

		> .fa
			font-size: 52px

		> span
			display: block

.btn-wide
	padding: 8px 25px
	@media (max-width: $screen-md)
		width: 100%

.btn-lg-wide
	font-size: $font-size-large
	padding: 12px 45px
	@media (max-width: $screen-md)
		width: 100%

.deploy-form-outer
	border: 1px solid #bbb
	border-top-width: 0
	overflow: hidden

	.deploy-form
		position: relative

		.transitionIcon
			width: 40px

		.changeAction
			width: 80px

		.deploy-button

			small
				font-size: 70%
				text-transform: none

		.header
			position: static
			font-size: 16px
			font-weight: bold
			color: $platform-blue
			margin-bottom: 1em

			.numberCircle
				display: inline-block
				min-width: 10px
				padding: 3px 7px
				font-weight: bold
				line-height: 1
				color: #fff
				text-align: center
				white-space: nowrap
				background-color: $platform-blue
				border-radius: 50%

			&.inactive
				color: #ddd

				.numberCircle
					background-color: #ddd

			&.loading
				.status-icon
					@extend .fa
					@extend .fa-refresh
					//@extend .pull-right
					@extend .fa-spin
					padding: 0 5px

				.numberCircle
					display: none

		&:after /* False background */
			height: 300px
			background-color: $theme-bg
			content: " "
			display: block
			bottom: 0
			left: 0
			top: 0
			@extend .col-md-4
			float: none
			position: unset
			border-right: 1px solid #bbb

			@media (max-width: $screen-md)
				display: none


		.SelectionGroup
			@extend .nav
			@extend .nav-pills
			@extend .nav-stacked
			@extend .col-md-4
			padding-right: 0
			font-weight: 300
			z-index: 2


			> li
				background-color: $theme-bg
				border: 1px solid #ccc
				border-left-width: 0

				@media (max-width: $screen-md)
					border-right: none

				a
					color: $gray
					font-size: $font-size-large
					padding: 25px 15px
					display: block

				&.active
					background-color: #ffffff
					border: none

					+ li
						border-top-width: 1px

					a
						color: $gray


				&:last-child
					border-bottom-width: 0

					@media (max-width: $screen-md)
						border-bottom-width: 1px

				+ li
					margin-top: 0
					border-top-width: 0

			+ .tab-content
				@extend .col-md-8
				padding: 2em $grid-gutter-width
				background-color: #fff
				box-shadow: -1penvirx 0 0 #bbb

				@media (max-width: $screen-sm)
					box-shadow: none

				input[type="checkbox"]
					margin-bottom: 1em
					margin-top: 1em
					margin-right: 0.5em

				select,
				.select2,
				input[type="text"],
				.CompositeField
					width: 100%
					margin-bottom: 0.75em

					> *
						width: 100%

		.section
			margin-bottom: 30px

		.center
			text-align: center

		dl.quick-summary
			@extend .small

			float: left
			opacity: 0.7
			-webkit-transition: all 0.3s ease-out
			-moz-transition: all 0.3s ease-out
			-o-transition: all 0.3s ease-out
			transition: all 0.3s ease-out
			padding: 3px 8px

			&.activated
				opacity: 1.0

			dt
				width: 70px
				font-weight: normal
				float: left
				clear: left
			dd
				margin-left: 80px

button.deploy
	float: left
	border: none
	font-family: inherit
	font-size: inherit
	background: none
	cursor: pointer
	padding: 17px 35px 14px
	display: inline-block
	text-transform: uppercase
	letter-spacing: 1px
	outline: none
	position: relative
	border-radius: 5px
	background: #2DB475
	color: #fff
	box-shadow: 0 6px #119e4d
	-webkit-transition: none
	-moz-transition: none
	transition: none
	margin-bottom: 20px
	margin-right: 20px

	&:after
		content: ''
		position: absolute
		z-index: -1
		-webkit-transition: all 0.3s
		-moz-transition: all 0.3s
		transition: all 0.3s

	&:hover
		box-shadow: 0 8px #119e4d
		top: -2px

	&:active
		box-shadow: 0 0 #119e4d
		top: 6px

	&:disabled
		cursor: not-allowed
		color: #fff
		background: #DDDDDD
		box-shadow: 0 6px #999999

		&:hover
			top: 0
			box-shadow: 0 6px #999999

.deploy-history
	margin-top: $padding-large-vertical

	.full-deploy-info:hover
		cursor: pointer
		cursor: hand

	.full-deploy-info-item
		background: $platform-secondary
		width: 20px
		display: inline-block

	.popover-content div
		margin-bottom: 2px

		span
			top: -2px
			position: relative

.environment-details
	margin-bottom: $padding-large-vertical

	h3
		margin-bottom: 7px

	h3 .fa
		font-size: 14px
		vertical-align: super

	.build-details

		span.git-sha,
		a.git-sha
			font-size: 14px

	ul
		@extend .list-unstyled

.project-links
	@extend .list-reset
	text-align: right
	position: absolute
	bottom: 0
	right: 0
	margin-top: 7px
	margin-right: 15px

	li
		line-height: 24px
		margin-bottom: 4px

		a i
			color: #222

	@media (max-width: $screen-md)
		top: 0
		bottom: auto

	@media (max-width: $screen-sm)
		display: none


.deployment-status

	.deployment-progress
		height: auto

		.progress-bar
			padding: 8px 15px
			line-height: 40px
			font-size: 28px
			text-align: left

			.status
				@extend .pull-right
				font-size: 26px

				a
					color: white
					font-size: 14px
					text-decoration: none

.deployment-tag,
.deployment-branch
	@extend .label
	position: relative
	top: -2px

td > .deployment-tag,
td > .deployment-branch
	margin-right: 4px

.deployment-tag
	@extend .label-primary

.deployment-branch
	@extend .label-default

.log-content
	overflow-y: auto
	font-size: 11px
	max-height: 450px
	background: #333
	color: #fff
	margin-top: 0
	margin-bottom: 0

.repo-ux img
	height: 14px
	margin-top: -3px

.repo-url

	label
		color: $gray
		display: block
		position: static
		margin-bottom: 0

	input[type=text]
		@extend .git-sha
		color: $gray-light
		line-height: 24px
		padding: 0 8px
		width: 100%
		border: 0 solid #e6e6e6
		border-bottom-width: 1px

.project-branch
	.branch-details
		cursor: pointer

	.project-branch-content
		display: none

	.closed-icon
		display: inline-block

	.open-icon
		display: none

	&.open
		.project-branch-content
			display: block

		.closed-icon
			display: none

		.open-icon
			display: inline-block


.breadcrumb
	> li
		+ li
			&:before
				content: "#{$breadcrumb-separator}"
				padding: 0 5px 0 0
				margin-left: 5px


// Custom helpers

.vertical-center		/* Uses .content-vert */
	min-height: 100%	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh	/* These two lines are counted as one :-)	   */
	display: flex
	align-items: center

.vertical-offset-20		/* Uses .content-vert */
	min-height: 100%	/* Fallback for browsers do NOT support vh unit */
	min-height: 80vh	/* These two lines are counted as one :-)	   */
	display: flex
	align-items: center

	> div
		width: 100%		/* Used for .content-vert */
		max-width: 600px
		margin: 0 auto

.i-push
	margin-right: 6px

.space-before
	margin-left: 6px

.no-wrap
	white-space: nowrap

.text-lg .i-push
	width: 24px

.push
	margin-bottom: $padding-large-vertical*2

.push-lg
	margin-bottom: $padding-large-vertical*4

.alerts-approval-form
	margin-top: 20px

.table-data-archives
	.archive-list-extended
		td
			padding: 0

			.archive-extended
				padding: 15px

		.Actions
			margin-top: 0

		#Form_MoveForm,
		#Form_DataTransferRestoreForm
			.Actions
				width: 60%
				margin: 20px auto 15px

			fieldset > .field
				width: 60%
				margin: 0 auto

				+ .field
					margin-top: 20px

	.btn
		@extend .btn-sm
		@extend .btn-primary
		margin-bottom: 0

.popover-content
	word-wrap: break-word

.create-form
	width: 50%

.form-inline .btn
	margin-top: 22px

.form-group

	.validation-message
		color: $state-danger-text
		padding-bottom: 4px
		font-weight: 300

	.form-control
		&.validation-error
			border-color: $state-danger-text
			&:focus
				border-color: #646464

	.help-text
		margin-top: 5px
		color: #999
		font-weight: 300

.current-build-data
	margin-top: 10px

#deployment-dialog-holder
	margin-top: 20px

.project-build-in-progress
	@extend .text-center

	.progress-icon
		color: $platform-blue
		margin-bottom: 2em

	p
		font-size: 16px

	.add-deploy-key
		margin-top: 2em

	.gitlab-icon
		height: 14px
		margin-top: -3px

textarea.deploy-key
	width: 100%
	padding: 10px
	display: inline-block
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace
	height: auto
	background: #f0f3f4
	border: 1px solid #ddd
	word-break: break-all
	white-space: normal

.alert.failed-environments ul
	margin: 0
	padding-bottom: 0

.plat-icon
	&.fa-cog
		margin-right: 15px
		text-align: center
		line-height: 19px
		font-size: 15px
		color: #768094

	.table-projects &
		color: #646464
		margin-right: 0
		float: none

.button-row a
	margin-left: 10px


// Platform modals
.modal-content
	border: none
	box-shadow: 0 3px 9px rgba(0,0,0,.2)

.modal-header
	background-color: $platform-blue
	border-radius: $border-radius-base $border-radius-base 0 0
	border-bottom: 1px solid #eee

	.nav
		float: right

	.nav > li > a
		padding: 0
		cursor: pointer
		text-shadow: none
		opacity: .5
		font-weight: lighter
	.icon
		padding-right: 10px

	p, h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5
		color: #fff


.content .variables-description p
	max-width: none

button.abort
	min-width: 110px
	padding: 1px 4px
	margin: -5px 0px 0px

.fade-in
	opacity: 0
	/* make things invisible upon start
	-webkit-animation: fadeIn ease-in 1
	/* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time
	-moz-animation: fadeIn ease-in 1
	animation: fadeIn ease-in 1
	-webkit-animation-fill-mode: forwards
	/* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)
	-moz-animation-fill-mode: forwards
	animation-fill-mode: forwards
	-webkit-animation-duration: 0.25s
	-moz-animation-duration: 0.25s
	animation-duration: 0.25s

	@-webkit-keyframes fadeIn
		from
			opacity: 0
		to
			opacity: 1

	@-moz-keyframes fadeIn
		from
			opacity: 0
		to
			opacity: 1

	@keyframes fadeIn
		from
			opacity: 0
		to
			opacity: 1

@import 'components/_deploy_modal'
