{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "indent": [2, "tab", {"SwitchCase": 1}],
    "space-before-function-paren": 0,
    "comma-dangle": 0,
    "func-names": 0,
    "object-shorthand": 0,
    "no-var": 0,
    "vars-on-top": 0,
    "camelcase": 0,
    "react/prefer-es6-class": 0,
    "quotes": 0,
    "keyword-spacing": 1,
    "padded-blocks": 0,
    "prefer-arrow-callback": 0,
    "wrap-iife": 0,
    "react/prop-types": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": 0,
    "react/require-extension": 0,
    "react/self-closing-comp": 0,
    "new-cap": 0,
    "no-restricted-syntax": 0,
    "jsx-quotes": 0,
    "no-prototype-builtins": 0,
    "no-continue": 0,
    "prefer-spread": 0,
    "prefer-rest-params": 0,
    "prefer-template": 0,
    "object-curly-spacing": 0,
    "key-spacing": 0,
    "max-len": [2, {"code": 120 }]

  }
}
