/* Default styles for various internal screens */
@font-face {
   font-family: 'PT Sans';
   src: url('../fonts/pt_sans_bold-webfont.eot');
   src: local('PTSansRegular'), url('../fonts/pt_sans_bold-webfont.woff') format('woff'), url('../fonts/pt_sans_bold-webfont.ttf')$
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'PT Sans';
   src: url('../fonts/pt_sans-webfont.eot');
   src: local('PTSansRegular'), url('../fonts/pt_sans-webfont.woff') format('woff'), url('../fonts/pt_sans-webfont.ttf') format('t$
   font-weight: normal;
   font-style: normal;
}
* {
  font-family: "PT Sans", Helvetica, Arial;
  line-height: 133%;
}
a {
  color:  #0973A6;
  white-space: nowrap;
}
html {
  background: #333 url('../images/ss-logo.png') 98% 10px no-repeat;

}
#all {
  background-color: white;
  width: 832px;
  margin: 150px auto 0 auto;
  padding: 12px 32px 1px 32px;
  border-radius: 32px;
  box-shadow: 0px 0px 50px #999;
}
h1 {
  color: #0973A6;
  font-size: 72px;
  line-height: 96px;
  letter-spacing: -1px;
  margin: 0;
  text-align: center;
}
p, li {
	font-size: 24px;
	margin: 0 0 32px 0;
}
table {
	border-collapse: collapse;
}
th, td {
	font-size: 16px;
	margin: 0;
	padding: 8px;
	text-align: left;
	border: 1px #CCC solid;
}

#main-nav {
	margin: 0; padding: 0;
	height: 64px;
	border-bottom: 1px #CCC solid;
}
#main-nav li {
	margin: 0; padding: 16px; list-style-type: none;
	height: 31px;
	float: left;
}
#main-nav li.current {
	border: 1px #CCC solid;
	border-bottom: 1px white solid;
}

#content {
	clear: both;
	padding: 32px 0 32px 0;
}

.left-half {
}
.right-half {
	float: right;
	width:50%;
}
.spacer {
	clear:both;
	height: 1px;
}

#deploy_log,
#deploy_action {
	background-color: #333;
	padding: 5px;
	border: #000 1px solid;
	color: #fff;
	font-family: "Andale Mono", "Monotype.com", monospace;
	font-size: 12px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}